@charset "utf-8";
/* CSS Document */
body{
	background-image: url("admin-man-14.png");
	background-position: right top,0,0;
	background-size: 50%;
	background-repeat: no-repeat;
	position: absolute;
	
}

ul{
	
	font: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 20px;
	margin-left: 255px;
	
}

a{
	
	color: #146F5E;
	padding-right: 130px;
	font-weight: bold;
	font-style:italic;	
}
a:hover
{
	color:black;
}


.login-box{
  width: 290px;
  position: absolute;
  top: 490%;
  left: 29%;
  transform: translate(-50%,-50%);
  color: #146F5E;
}
.login-box h3{
  float: right;
  font-size: 43px;
  border-bottom: 6px solid #146F5E;
  margin-bottom: 40px;
  padding: 15px 0px 10px 0px;
}
.textbox{
  width: 100%;
  overflow: hidden;
  font-size: 30px;
  padding: 8px 0;
  margin: 8px 0;
  
}

.textbox input{
  border: none;
  outline: none;
  background:#146F5E;
  color: #DFFEFF;
  font-size: 18px;
  height: 40px;
  border-radius: 10px 10px 10px 10px;
  width: 100%;
  float: left;
  margin: 0px 0px;
 text-align: center;
}
.textbox input:hover{
	background-color:teal;
    color: #DEFFEF;
}
.btn{
  width: 50%;
  background: none;
  border: 2px solid #146F5E;
  color:solid #146F5E;
  padding: 5px;
  font-size: 18px;
  cursor: pointer;
  margin: 12px 72px;
  border-radius: 40px;
}

.btn:hover{
	background-color: #146F5E;
  color: #DFFEFF;
}

@media (max-width : 1212px ){
  body
  {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-size: 200%;

}
}
.ucp 
{
	position: absolute;
	top: -110px;
	left: -50px;
	
}
