@charset "utf-8";
/* CSS Document */
ul{
	
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size: 20px;
	
	
}

a{
	
	color: #146F5E;
	padding-right: 100px;
	font-weight: bold;
	font-style:italic;	
}
a:hover{
	color:orangered;
	
}

h1{
	
	color: #146F5E;
	padding-left: 120px;
	padding-top: 68px;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	line-height: 1px;
	font-size: 60px;
	
}
.university 
{

	color: #146F5E;
	padding-left: 124px;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}


.m {
	color: #146F5E;
	padding-left: 185px;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
}

h5
{
	color: #146F5E;
	padding-left: 120px;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	font-size: 14px;
	font-weight: bold;
	line-height:20px;
}

button{
	background-color:#146F5E;
	color: #DFFEFF;
	margin-left: 240px;
	margin-top: 25px;
	padding-left: 32px;
	padding-bottom:4px;
	padding-right:30px;
	padding-top:  4px;
	border-radius: 20px;
	font-weight: bold;
	
}
button:hover{
	color: orange;
}

.ucp 
{
	position: absolute;
	top: 0px;
	left: 127px;
}

.complain-pic 
{
position: fixed;
	top:42px;
	left: 595px;
}

